.contactSection {
    text-align: center;
}

.contactPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.contactEmail {
    display: inline-block;
}

article {
    margin-left: 3px;
    background-color:beige;
}

.LinkedInLink {
    background-color: beige;
}

.LinkedInLink:hover {
    background-color: aquamarine;
}