    /* adding styling to make the canvas fill the window and remove scrollbars 
    https://github.com/processing/p5.js/wiki/Positioning-your-canvas
    html, body{
        height: 100%;
      }
      
      body {
          margin: 0;
          display: flex;
      
          justify-content: center;
          align-items: center;
      } */

/* styling for the whole website */
body {
    width: 100%;
}

.header {
    display: inline-block;
}

/*styling for the title of the website*/
.title {
    display: block;
    margin-left: 45%;
    font-style: oblique;
}

/* .watson {
    margin-top: -25px;
} */

.tabs {
    margin-top: 20px;
    font-size: 20px;
    font-style: normal;
    float: right;
    margin-right: 10%;
}

.header-line {
    width: 90%;
    /* margin-top: -10px; */
}

a {
    color:black;
    text-decoration: none;
    font-weight: normal;
}

.home:hover, .about:hover, .contact:hover {
    background-color: aquamarine;
}

/* Title */
.benWat {
    max-width: 120px;
    margin-top: 1.5%;
}

/* little auto-biography for the title page */
.bio {
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    font-style: normal;
}

/* thumbnails */
.thumbnail {
    box-sizing: border-box;
    float: left;
    width: 50%;
}

.topProjects, .midProjects {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.topProjects::after, .midProjects::after {
    content: "";
    clear: both;
    display: table;
}